body {
    background-image: url( "./img/images.jpg");
    position: absolute;
    margin: 150px;
}
.grand {
    background-image: url("./img/imges.jpg");
    background-size: cover;
}
.sections1{width: 100%;height: 150px; border-radius: 30px;background-color: #c4c4c4;}
.logo{width: 25%;height: 150px;float: left;}
.menu{width: 70%;height: 150px;float: right;}
.sections2{width: 100%;height: 150px; display: flex ;background-color: #baafaf ;border-radius: 50px};
.photo{
    width: 20%;height: 150px;
}
.salut{
    width: 20%;height: 150px;
    font-weight: 100;
}
.cursus{
    width: 20%;height: 150px;
}
.formation{
    width: 40%;height: 150px;
}


.sections3{width: 100%;height: 850px; border-radius: 30px; ;background-color: skyblue; display:flex;border-radius: 50px;}
.conteneurs { margin-top: 95px; width: 35%; height: 760px; border-radius: 100px; background-position: center; background-color: #061669;
}
.apropos{
    transform: translate(50px, 70px); margin: 40px; margin-top: 4px; width: 200px; height: 550px;border-radius: 30px;background-color:white; padding-left:5px;font-family: Georgia, 'Times New Roman', Times, serif;
}

.projets {  width: 40%; height: 850px;float : left;

}
.descriptions {
    width: 35%; height: 850px;float: right;text-align: center; font: fallback;
}
.sections4{width: 100%;height: 250px;
     border-radius: 50px ;
     background-color: #c4c4c4;
     display: flex;
     background-color: #c4c4c4;
}
.outils {
    width: 50%;
    height: 250px; 
    border-radius: 30px;
    position: relative;

    
}

.points {
    width: 40%;
     height: 200px;
     border-radius: 80px;
     float: right;
     background-color: #fff;
     text-align: center;
     margin: 26px;
}
.competance{
    width: 25%;
    height: 75px; 
    border-radius: 30px;
    background: color #7A7273; ;
    margin-bottom: 20px;
    position: absolute;
    left: 230px;
    text-align: center;
    

    
}
.back{
    width: 27%;
    height: 93px; 
    border-radius: 30px;
    background-color:#F25C6E;
    margin-bottom: auto;
    position: absolute;
    right: 50px;
    top: 115px;
    text-align: center;
}
.front{
    width: 25%;
    height: 75px; 
    border-radius: 30px;
    background-color: #F25C6E;
    margin-bottom: auto;
    position: absolute;
    bottom: 20%;
    text-align: center;  
}
.sections5{width: 100%;
    height: 180px;
     border-radius: 50px;
     background-color: rgb(48, 17, 226);
     display: flex;
     justify-content: space-between;
    }
.formulaire {
    width: 40%;
    height: 160px;
    text-align: center;
}
.contacter{  
    width: 40%;
    height: 160px;
}
.contacter input{
    margin-bottom: 90px;
}
span{
    margin-bottom: 125px;
}
.em{ display: flex;
    flex-direction: column;
}
span{
    margin-bottom: 125px;
}
.sections{margin: 10px;}
a{text-decoration: none ;}
.meu{display: flex; list-style-type: none ;}
.meu a{
    min-width: 150px;
    display: block;
    padding: 0.4rem 0;            
    text-align: center;              
    background-color: #1ABC9C;    
    color: #fff;                  
    text-decoration: none;        
    border: 1px solid #fff;       
    border-radius: 4px;
}

.meu a:hover {
    background-color: #ed2794;
    color: #ffe843;
    border-color: #ffe843;
  }
